*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 2px solid black; */
}
div {
  display: flex;
  justify-content: center;
  /* background-color: red; */
}
p {
  font-size: 5rem;
  /* background-color: white; */
  border-bottom: 0.2rem solid black;
  padding: 0.5rem 2rem;
  margin: 1rem;
}
